<div style="padding:20px;
            color:#FFC300;
            margin:0;
            font-size:250%;
            border-width: 1px;
            border-style: solid;
            text-align:center;
            display:fill;
            border-radius:5px;
            background-color:#3474eb;
            overflow:hidden;
            font-family: Trebuchet MS;
            font-weight:600">Fraud Protection Recommender System </div>

<center>

</center>

The recommender system will market to customers who have a higher likelihood of being a victim of fraud, due to some of the following reasons:
- Susbtanial volume of daily transactions
- Large transaction amounts
- Transactions in a different country than the customer's home - country
- Transactions in a different state than the customer's home  state
- Online transactions

####  1. Importing Libraries <a class='anchor' id='images'></a>

In [1]:
import pandas as pd

In [2]:
# Read in the data
"""Toy data for quick testing"""
df = pd.read_csv('/Users/jasonrobinson/Desktop/Credit-Card-Feature-Analyzer/WebApp/data/transactions.csv')

In [3]:
# First five rows
df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [4]:
# Shape of the data
df.shape

(19963, 15)

In [11]:
df[df.Card!=1]

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19958,0,4,2009,2,12,13:03,$9.71,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,Technical Glitch,No
19959,0,4,2009,2,22,11:58,$27.94,Swipe Transaction,-8129520121141002186,La Verne,CA,91750.0,5211,NaN,No
19960,0,4,2009,2,24,16:53,$13.97,Swipe Transaction,5474320255037684877,Hawthorne,CA,90250.0,5912,NaN,No
19961,0,4,2009,3,29,16:30,$14.27,Swipe Transaction,4060646732831064559,La Verne,CA,91750.0,5411,NaN,No
19962,0,4,2009,3,31,13:17,$13.55,Swipe Transaction,-4927381308738947637,Beijing,China,NaN,5812,NaN,No

In [12]:
df.Card.unique()

array([0, 1, 2, 3, 4])